doctype
html
    head
        link("href"="/style.css", rel="stylesheet")
        title=title
    body
        header
            nav
                div(class="menu")
                    a(href="/") Home
                    a(href="/login") Login
                    a(href="/signup") Sign Up
        block content
