doctype
html
    head
        link("href"="/style.css", rel="stylesheet")
        title=title
    body
        div(id='nav_bar')
            header
                nav
                    ul
                        each item in config.menu
                            a(href=item[1])
                                div(class='menu_item')
                                    li(id=item[0]) #{(item[0])}
        block content
