extends layout

block content
    h1 #{title}
    form("method"="POST" action="/login")
        label Username
        input(name="username" type="text")
        br
        label Password
        input(name="password" type="text")
        br
        label
        input(type="submit" value="Login")
