extends layout

block content
    form(id='form' method='POST' action='/register')
        p Username:
        input(type='text' name='username')
        p Password:
        input(type='text' name='password')
        p Email:
        input(type='text' name='email')
        p Age:
        input(type='number' name='age')
        p Question 1: What state are you from?
        select(name='answer1')
          option(value="AL") AL | Alabama
          option(value="AK") AK | Alaska
          option(value="AZ") AZ | Arizona
          option(value="AR") AR | Arkansas
          option(value="CA") CA | California
          option(value="CO") CO | Colorado
          option(value="CT") CT | Connecticut
          option(value="DE") DE | Delaware
          option(value="FL") FL | Florida
          option(value="GA") GA | Georgia
          option(value="HI") HI | Hawaii
          option(value="ID") ID | Idaho
          option(value="IL") IL | Illinois
          option(value="IN") IN | Indiana
          option(value="IA") IA | Iowa
          option(value="KS") KS | Kansas
          option(value="KY") KY | Kentucky
          option(value="LA") LA | Louisiana
          option(value="ME") ME | Maine
          option(value="MD") MD | Maryland
          option(value="MA") MA | Massachusetts
          option(value="MI") MI | Michigan
          option(value="MN") MN | Minnesota
          option(value="MS") MS | Mississippi
          option(value="MO") MO | Missouri
          option(value="MT") MT | Montana
          option(value="NE") NE | Nebraska
          option(value="NV") NV | Nevada
          option(value="NH") NH | New Hampshire
          option(value="NJ") NJ | New Jersey
          option(value="NM") NM | New Mexico
          option(value="NY") NY | New York
          option(value="NC") NC | North Carolina
          option(value="ND") ND | North Dakota
          option(value="OH") OH | Ohio
          option(value="OK") OK | Oklahoma
          option(value="OR") OR | Oregon
          option(value="PA") PA | Pennsylvania
          option(value="RI") RI | Rhode Island
          option(value="SC") SC | South Carolina
          option(value="SD") SD | South Dakota
          option(value="TN") TN | Tennessee
          option(value="TX") TX | Texas
          option(value="UT") UT | Utah
          option(value="VT") VT | Vermont
          option(value="VA") VA | Virginia
          option(value="WA") WA | Washington
          option(value="WV") WV | West Virginia
          option(value="WI") WI | Wisconsin
          option(value="WY") WY | Wyoming
        p Question 2: What is your favorite genre of music?
        select(name='answer2')
          option(value='Pop') Pop
          option(value='Hip-hop') Hip-hop
          option(value='Rock') Rock
          option(value='Rap') Rap
          option(value='Electronic') Electronic
          option(value='Other') Other
        p Question 3: What is your favorite animal?
        select(name='answer3')
          option(value='Dog') Dog
          option(value='Cat') Cat
          option(value='Rabbit') Rabbit
          option(value='Turtle') Turtle
          option(value='Fox') Fox
          option(value='Other') Other
        p
        input(type="submit" value='Create Account')
