extends layout

block content
    h1 #{title}
    form("method"="POST" action="/signup")
        label Username
        input(name="username" type="text")
        br
        label Password
        input(name="password" type="text")
        br
        label Email
        input(name="email" type="text")
        br
        label Age
        input(name="age" type="text")
        br
        label
        input(type="submit")